/* =============================================
=                CSS Index            =
============================================= */
/*

    00 - Base - Variables
    00 - Base - Mixins
    01 - Global - Default
    02 - Global - Helper
    03 - Global - Color
    04 - Layout - Header
    05 - Layout - Footer
    06 - Pages - Blog
    07 - Pages - Shop
    08 - Pages - Single-product
    09 - Pages - Contact
    10 - Pages - Error
    11 - Pages - Compare
    12 - Pages - Cart
    13 - Pages - Checkout
    14 - Pages - Wishlist
    15 - Pages - FAQ
    16 - Pages - My-Account
    17 - Pages - Login-Register
    18 - Components - Button
    19 - Components - Slider
    20 - Components - Feature
    21 - Components - Product
    22 - Components - Banner
    23 - Components - Newsletter 
    24 - Components - Support
    25 - Components - Action-plan
    26 - Components - Brand-logo
    27 - Components - Modal
    28 - Components - Breadcrumb

  =====  End of CSS Index  ====== */
/*----------------------------------------*/
/*    00 - Base - Variables
/*----------------------------------------*/
/*----------------------------------------*/
/*    00 - Base - Mixins
/*----------------------------------------*/
/*----------------------------------------*/
/*    01 - Global - Default
/*----------------------------------------*/
/*-- Google Font --*/


/*----------------------------------------*/
/*    02 - Global - Helper
/*----------------------------------------*/
/*--- Custom Container, row and col  ---*/
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container.custom-area {
  padding-right: 15px;
  padding-left: 15px;
}

.container.custom-area .row {
  margin-right: -15px;
  margin-left: -15px;
}

.container.custom-area .col-custom {
  padding-right: 15px;
  padding-left: 15px;
}

.container.custom-area-2 .col-custom {
  padding-right: 15px;
  padding-left: 15px;
}

.container-fluid {
  padding: 0 50px;
}

.container-fluid .row {
  margin-right: -15px;
  margin-left: -15px;
}

.container-fluid .col-custom {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0 15px;
  }
}

/*-- Boxed Home Layout --*/
.boxed-layout {
  -webkit-box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
          box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  max-width: 90%;
  margin: auto;
}

/* --- Preloader---*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99999999;
}

.preloader {
  display: inline-block;
  padding: 0px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes scale-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}



.ui-slider-horizontal {
  height: 2px;
  background: #dbdbdb;
  border: none;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #ffffff;
  width: 15px;
  height: 15px;
  top: -7px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #E72463;
}

.ui-state-default:focus, .ui-widget-content .ui-state-default:focus, .ui-widget-header .ui-state-default:focus {
  outline: none;
  border-radius: 100%;
}

.widget-list {
  margin-bottom: 30px;
}

.widget-list form {
  padding-top: 10px;
}

.widget-list form input {
  background: none;
  border: none;
  font-size: 14px;
  text-align: right;
  line-height: 31px;
  width: 100px;
}

.widget-list form button {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-transform: capitalize;
  color: #ffffff;
  background: #000000;
  border: 0;
  border-radius: 30px;
}




.swiper-pagination.default-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #000000;
  background: transparent;
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  outline: 0px;
}

.swiper-pagination.default-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E72463;
  border-color: #E72463;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.swiper-pagination.default-pagination .swiper-pagination-bullet:hover {
  background: #E72463;
  border-color: #E72463;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  .swiper-pagination.default-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
}

/*--- Swiper Navigation Style ---*/
.intro11-carousel-wrap .swiper-button-prev, .intro11-carousel-wrap .swiper-button-next {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.intro11-carousel-wrap .swiper-button-prev:focus, .intro11-carousel-wrap .swiper-button-next:focus {
  border: 0px;
  outline: 0px;
}

.intro11-carousel-wrap .swiper-button-prev:after, .intro11-carousel-wrap .swiper-button-next:after {
  display: none;
}

.intro11-carousel-wrap .swiper-button-prev i, .intro11-carousel-wrap .swiper-button-next i {
  font-size: 30px;
  color: #000000;
}

.intro11-carousel-wrap .swiper-button-prev i:hover, .intro11-carousel-wrap .swiper-button-next i:hover {
  color: #E72463;
}

@media (max-width: 575px) {
  .intro11-carousel-wrap .swiper-button-prev i, .intro11-carousel-wrap .swiper-button-next i {
    font-size: 20px;
  }
}

.intro11-carousel-wrap .swiper-button-prev {
  left: 50px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap .swiper-button-prev {
    left: 20px;
  }
}

.intro11-carousel-wrap .swiper-button-next {
  right: 50px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap .swiper-button-next {
    right: 20px;
  }
}

.intro11-carousel-wrap:hover .swiper-button-prev, .intro11-carousel-wrap:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.intro11-carousel-wrap.arrow-style-2 .swiper-button-prev {
  left: 1px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap.arrow-style-2 .swiper-button-prev {
    left: 1px;
  }
}

.intro11-carousel-wrap.arrow-style-2 .swiper-button-next {
  right: 0px;
}

@media (max-width: 1199px) {
  .intro11-carousel-wrap.arrow-style-2 .swiper-button-next {
    right: 0px;
  }
}

.intro11-carousel-wrap.arrow-style-3 .swiper-button-prev {
  left: 15px;
}

@media (max-width: 767px) {
  .intro11-carousel-wrap.arrow-style-3 .swiper-button-prev {
    left: 1px;
  }
}

.intro11-carousel-wrap.arrow-style-3 .swiper-button-next {
  right: 15px;
}

@media (max-width: 767px) {
  .intro11-carousel-wrap.arrow-style-3 .swiper-button-next {
    right: 0px;
  }
}

/* ---Bootstrap No Gutters--- */
.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}

/* ---Tooltip--- */
.tooltip {
  z-index: 10;
}

.tooltip-inner {
  padding: 0 10px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  font-size: 10px;
  background-color: #E72463;
  text-indent: 0;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  content: "";
  border-width: 5px 5px 0;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #E72463;
}

.bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #E72463;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .tooltip-arrow::before,
.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: #E72463;
}

.bs-tooltip-auto[x-placement^=left] .tooltip-arrow::before,
.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: #E72463;
}

.product-rating i {
  font-size: 16px;
  color: #E72463;
}

/* --- Pagination --- */
@media (max-width: 479px) {
  .pagination {
    margin-bottom: 10px;
  }
}

.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 3px;
  margin-left: 3px;
}

.pagination ul li:first-child {
  margin-left: 0;
}

.pagination ul li a {
  display: block;
  border-radius: 3px;
}

.pagination ul li a:hover {
  background: #E72463;
  color: #ffffff;
}

.pagination ul li.current {
  background: #E72463;
  color: #ffffff;
}

.pagination ul li.next {
  width: 40px;
}

/* ---Google Maps--- */
.google-map-area #googleMap {
  width: 100%;
  height: 500px;
}

@media (max-width: 767px) {
  .google-map-area #googleMap {
    height: 400px;
  }
}

@media (max-width: 575px) {
  .google-map-area #googleMap {
    height: 400px;
  }
}

/* --- Social Widgets --- */
.widget-social a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

/* --- Quantity --- */
.quantity-with_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.quantity {
  margin-right: 10px;
}

.quantity .cart-plus-minus {
  position: relative;
  width: 150px;
  text-align: left;
  height: 45px;
  overflow: hidden;
}

.quantity .cart-plus-minus > .cart-plus-minus-box {
  border: 1px solid #dddddd;
  height: 45px;
  text-align: center;
  width: 150px;
  background: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.quantity .cart-plus-minus > .qtybutton {
  cursor: pointer;
  position: absolute;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  width: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  color: #000000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.quantity .cart-plus-minus > .qtybutton:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #E72463;
  color: #ffffff;
}

.quantity .cart-plus-minus > .qtybutton.dec {
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-right: 1px solid #dddddd;
}

.quantity .cart-plus-minus > .qtybutton.inc {
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-left: 1px solid #dddddd;
}

/*----------------------------------------*/
/*    03 - Global - Color
/*----------------------------------------*/
.primary-color {
  color: #E72463;
}

.facebook-color {
  color: #3B5998;
}

.facebook-color:hover {
  color: #E72463;
}

.twitter-color {
  color: #55ACEE;
}

.twitter-color:hover {
  color: #E72463;
}

.linkedin-color {
  color: #2867B2;
}

.linkedin-color:hover {
  color: #E72463;
}

.pinterest-color {
  color: #DF0022;
}

.pinterest-color:hover {
  color: #E72463;
}

.youtube-color {
  color: #c4302b;
}

.youtube-color:hover {
  color: #E72463;
}

.vimeo-color {
  color: #86c9ef;
}

.vimeo-color:hover {
  color: #E72463;
}

/*-- Social Color Background --*/
.facebook-color-bg {
  background-color: #3B5998;
  color: #ffffff;
}

.facebook-color-bg:hover {
  background-color: #E72463;
  color: #ffffff;
}

.twitter-color-bg {
  background-color: #55ACEE;
  color: #ffffff;
}

.twitter-color-bg:hover {
  background-color: #E72463;
  color: #ffffff;
}

.linkedin-color-bg {
  background-color: #2867B2;
  color: #ffffff;
}

.linkedin-color-bg:hover {
  background-color: #E72463;
  color: #ffffff;
}

.pinterest-color-bg {
  background-color: #DF0022;
  color: #ffffff;
}

.pinterest-color-bg:hover {
  background-color: #E72463;
  color: #ffffff;
}

.youtube-color-bg {
  background-color: #c4302b;
  color: #ffffff;
}

.youtube-color-bg:hover {
  background-color: #E72463;
  color: #ffffff;
}

.vimeo-color-bg {
  background-color: #86c9ef;
  color: #ffffff;
}

.vimeo-color-bg:hover {
  background-color: #E72463;
  color: #ffffff;
}

/*-- Template Background --*/
.black-bg {
  background: #1b1b1b;
}

.black-dark-bg {
  background: #000000;
}

.gray-bg {
  background: #f8f8f8;
}

.red {
  background: red no-repeat center;
  background-size: initial;
}

.green {
  background: green no-repeat center;
  background-size: initial;
}

.blue {
  background: blue no-repeat center;
  background-size: initial;
}

.yellow {
  background: yellow no-repeat center;
  background-size: initial;
}

.white {
  background: white no-repeat center;
  background-size: initial;
}

.gold {
  background: gold no-repeat center;
  background-size: initial;
}

/*----------------------------------------*/
/*    04 - Layout - Header
/*----------------------------------------*/
/*-- Main Header Area --*/
.main-header-area .header-logo img {
  width: 125px;
}

/* ---Sticky Header--- */
.header-sticky.header-transparent {
  position: fixed;
  width: 100%;
  z-index: 99;
}

@media (max-width: 767px) {
  .header-sticky.header-transparent {
    position: relative;
  }
}

.header-sticky.sticky {
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
          animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
  left: 0;
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 99;
}

/* ---Main Menu--- */
.main-nav > ul > li {
  display: inline-block;
  position: relative;
  padding: 30px 0;
}

.main-nav > ul > li:hover .dropdown-hover {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-nav > ul > li:hover .dropdown-hover-2 {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-nav > ul > li > a {
  display: block;
  padding: 8px 16px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}

.main-nav > ul > li > a.active {
  color: #E72463;
}

.main-nav > ul > li > a:hover {
  color: #E72463;
}

.main-nav > ul > li > a i {
  margin-left: 0px;
  font-size: 15px;
  vertical-align: middle;
}

.main-nav > ul > li > a .menu-text {
  position: relative;
}
/*----- Offcanvas Mobile Menu start -----*/
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 380px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
      -ms-transform: translateX(calc(-100% - 50px));
          transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .off-canvas-inner-content {
    width: 280px;
  }
}

.off-canvas-wrapper .btn-close-off-canvas {
  left: 92%;
  position: relative;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .btn-close-off-canvas {
    left: 89.2%;
  }
}

.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
}

/*----- Offcanvas Menu start -----*/
.off-canvas-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-menu-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-menu-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.off-canvas-menu-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-menu-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(100% - 50px));
      -ms-transform: translateX(calc(100% - 50px));
          transform: translateX(calc(100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: auto;
  right: 0;
  position: fixed;
}

.off-canvas-menu-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
}

.off-canvas-menu-wrapper .offcanvas-widget-area {
  padding-top: 40px;
}

.off-canvas-menu-wrapper .offcanvas-widget-area .desc-content {
  padding-bottom: 30px;
}

.off-canvas-menu-wrapper .top-info-wrap {
  padding-bottom: 20px;
}

.btn-close-off-canvas {
  width: 30px;
  height: 30px;
  color: #000000;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn-close-off-canvas i {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  line-height: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-close-off-canvas:hover {
  color: #E72463;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn-close-off-canvas:hover i {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.top-info-wrap {
  bottom: 0px;
  margin-top: auto;
  padding-bottom: 40px;
}

.top-info-wrap .address-info {
  margin-bottom: 20px;
}

.top-info-wrap .address-info li {
  margin-bottom: 10px;
}

.top-info-wrap .address-info li i {
  font-size: 18px;
  margin-right: 10px;
}

@media (max-width: 479px) {
  .offcanvas-widget-area {
    padding: 0 30px 20px;
  }
}

.offcanvas-widget-area .menu-top-menu > li {
  list-style: none;
  margin-bottom: 20px;
  white-space: nowrap;
}

.offcanvas-widget-area .menu-top-menu > li > a {
  font-size: 60px;
  padding-bottom: 8px;
  color: #000000;
  line-height: 25px;
  font-family: "Great Vibes", cursive;
}

.offcanvas-widget-area .menu-top-menu > li > a:hover {
  color: #E72463;
}

.offcanvas-widget-area .switcher {
  border-top: 1px solid #e5e5e5;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.offcanvas-widget-area .language {
  margin-bottom: 8px;
}

.offcanvas-widget-area .switcher-title {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.offcanvas-widget-area .switcher-menu {
  background: none;
  display: inline-block;
}

.offcanvas-widget-area .switcher-menu > ul > li {
  list-style: none;
  position: relative;
}

.offcanvas-widget-area .switcher-menu > ul > li > a {
  background: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  position: relative;
  vertical-align: middle;
}

.offcanvas-widget-area .switcher-menu > ul > li > a:before {

  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.offcanvas-widget-area .switcher-dropdown {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  height: auto;
  left: 50%;
  padding: 6px 10px !important;
  position: absolute;
  top: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
}

.offcanvas-widget-area .switcher-menu > ul > li:hover .switcher-dropdown {
  opacity: 1;
  visibility: visible;
}

.offcanvas-widget-area .switcher-dropdown > li {
  list-style: none;
  display: block;
  border-bottom: 0 10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.offcanvas-widget-area .switcher-dropdown > li:last-child {
  border-bottom: none;
}

.offcanvas-widget-area .switcher-dropdown > li > a {
  background: none;
  color: #555555;
  display: block;
  line-height: 33px;
  white-space: nowrap;
}



/*---------------------------
    - Mobile Menu Css
-----------------------------*/
.search-box-offcanvas {
  margin-bottom: 10px;
}

@media (max-width: 479px) {
  .search-box-offcanvas {
    padding: 30px 30px 0 30px;
  }
}

.search-box-offcanvas form {
  position: relative;
}

.search-box-offcanvas form input {
  color: #000000;
  font-size: 13px;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 40px 0 10px;
  
  border: 1px solid #dddddd;
}

.search-box-offcanvas form input:hover {
  border-color: #000;
}

.search-box-offcanvas form .search-btn {
  top: 50%;
  right: 1px;
  font-size: 20px;
  color: #000000;
  position: absolute;
 
  border: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 8px;
}



.mobile-header .category-toggle {
  padding: 8px 15px;
}

.mobile-menu-btn .off-canvas-btn {
  font-size: 22px;
  cursor: pointer;
  padding: 0px 12px;
  line-height: 1;
  padding-right: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: -3px;
}

.mobile-menu {
  height: 100%;
  padding-right: 30px;
  margin-right: -30px;
}

.mobile-menu li > a {
  font-size: 15px;
  color: #252525;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: block;
  padding: 10px 0;
  font-weight: 600;
}

.mobile-menu li > a:hover {
  color: #000;
}

.mobile-menu li ul li {
  border: none;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 15px 8px;
  font-weight: 400;
}

.mobile-menu .has-children, .mobile-menu .menu-item-has-children {
  position: relative;
}

.mobile-menu .has-children .menu-expand, .mobile-menu .menu-item-has-children .menu-expand {
  line-height: 50;
  top: -7px;
  left: 95%;
  width: 30px;
  position: absolute;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .mobile-menu .has-children .menu-expand, .mobile-menu .menu-item-has-children .menu-expand {
    left: 90%;
  }
}

.mobile-menu .has-children .menu-expand i, .mobile-menu .menu-item-has-children .menu-expand i {
  display: block;
  position: relative;
  width: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #252525;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.mobile-menu .has-children .menu-expand i:before, .mobile-menu .menu-item-has-children .menu-expand i:before {
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-bottom: 1px solid #252525;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu .has-children.active > .menu-expand i:before, .mobile-menu .menu-item-has-children.active > .menu-expand i:before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}



@media (max-width: 479px) {
  .mobile-navigation {
    padding: 30px;
  }
}

.mobile-navigation nav {
  height: 100%;
}

/*----------------------------------------*/
/*    05 - Layout - Footer
/*----------------------------------------*/
.footer-area .footer-widget-area {
  padding: 100px 0;
  background-color: #1b1b1b;
}

@media (max-width: 991px) {
  .footer-area .footer-widget-area {
    padding: 60px 0px 50px 0;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-widget-area {
    padding: 60px 0px 37px 0;
  }
}

@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    margin-top: 38px;
  }
}

.footer-area .single-footer-widget .footer-logo {
  margin-bottom: 18px;
}

.footer-area .single-footer-widget .desc-content {
  margin-bottom: 23px;
  color: #ffffff;
}

.footer-area .single-footer-widget .social-links ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 12px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.footer-area .single-footer-widget .social-links ul li a:hover {
  color: #ffffff;
  background-color: #E72463;
  border-color: #E72463;
}

.footer-area .single-footer-widget .widget-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin-top: -1px;
  margin-bottom: 22px;
  line-height: 1;
}

.footer-area .single-footer-widget .widget-list {
  color: #ffffff;
  list-style: none;
  margin-bottom: 0px;
}

.footer-area .single-footer-widget .widget-list li {
  line-height: 1;
  padding: 8px 0;
}

.footer-area .single-footer-widget .widget-list li:last-child {
  padding-bottom: 0;
}

.footer-area .single-footer-widget .widget-list li a {
  font-weight: 300;
}

.footer-area .single-footer-widget .widget-list li a:hover {
  margin-left: 5px;
  color: #E72463;
}

.footer-area .single-footer-widget .widget-body address {
  line-height: 2;
  color: #ffffff;
  font-weight: 300;
}

.footer-area .footer-copyright-area {
  background-color: #000000;
  padding: 20px 0px;
}

.footer-area .footer-copyright-area .copyright-content {
  color: #ffffff;
}

.footer-area .footer-copyright-area .copyright-content p {
  margin-bottom: 0px;
}

.footer-area .footer-copyright-area .copyright-content a {
  color: #E72463;
}

.footer-area .footer-copyright-area .copyright-content a:hover {
  color: #ffffff;
}

/*----------------------------------------*/
/*    07 - Pages - Shop
/*----------------------------------------*/
/*-- Shop Sidebar Area Start --*/
.shop-main-area .sidebar_widget .widget_inner .widget-title, .blog-main-area .sidebar_widget .widget_inner .widget-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 30px;
  font-family: "Josefin Slab", serif;
}

.shop-main-area .sidebar_widget .widget_inner .widget-title:after, .blog-main-area .sidebar_widget .widget_inner .widget-title:after {
  background-color: #eceff8;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.shop-main-area .sidebar_widget .widget_inner .search-box .input-group .form-control, .blog-main-area .sidebar_widget .widget_inner .search-box .input-group .form-control {
  border: 1px solid #e1e1e1;
  padding: 13px 10px 15px 13px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  outline-offset: -2px;
  display: block;
  border-radius: 0;
}

.shop-main-area .sidebar_widget .widget_inner .search-box .input-group .form-control:focus, .blog-main-area .sidebar_widget .widget_inner .search-box .input-group .form-control:focus {
  border-color: #E72463;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop-main-area .sidebar_widget .widget_inner .search-box .input-group .btn-outline-secondary, .blog-main-area .sidebar_widget .widget_inner .search-box .input-group .btn-outline-secondary {
  background-color: #000000;
  border-radius: 0;
  color: #ffffff;
  height: 100%;
  width: 50px;
}

.shop-main-area .sidebar_widget .widget_inner .search-box .input-group .btn-outline-secondary:hover, .blog-main-area .sidebar_widget .widget_inner .search-box .input-group .btn-outline-secondary:hover {
  background-color: #E72463;
}

.shop-main-area .sidebar_widget .widget_inner .search-box .input-group .btn-outline-secondary:focus, .blog-main-area .sidebar_widget .widget_inner .search-box .input-group .btn-outline-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu, .blog-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu {
  overflow: inherit;
  margin-top: -15px;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu > li > a, .blog-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu > li > a {
  font-weight: 500;
  display: block;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu > li > a:hover, .blog-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu > li > a:hover {
  color: #E72463;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu > li:last-child > a, .blog-main-area .sidebar_widget .widget_inner .widget-list .mobile-menu > li:last-child > a {
  padding-bottom: 0;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .tags li, .blog-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .tags li {
  display: inline-block;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .checkbox-container li, .blog-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .checkbox-container li {
  padding: 10px 0;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .checkbox-container .custom-control-input, .blog-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .checkbox-container .custom-control-input {
  margin-right: 10px;
}

.shop-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .checkbox-container .custom-control-label, .blog-main-area .sidebar_widget .widget_inner .widget-list .sidebar-body .checkbox-container .custom-control-label {
  font-size: 15px;
  color: #252525;
  text-transform: capitalize;
  font-weight: 500;
}

.sidebar-list > li > a {
  font-size: 15px;
  color: #252525;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: block;
  padding: 10px 0;
  font-weight: 500;
}

.sidebar-list > li > a:hover {
  color: #E72463;
}

.sidebar-list > li:last-child a {
  padding-bottom: 0;
}

.sidebar-list .btn {
  height: 20px;
  max-width: 90px;
  min-width: 20px;
  position: relative;
  border: 1px solid #dddddd;
  display: inline-block;
  margin: 0 0px 0px 20px;
  border-radius: 0px;
}

.sidebar-list .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #E72463;
  outline: 0;
}

.tags li a {
  border: 1px solid #e1e1e1;
  line-height: 1em;
  padding: 10px 15px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  color: #1b1b1c;
  border-radius: 25px;
  font-weight: 500;
}

.tags li a:hover {
  color: #E72463;
  border-color: #E72463;
}

.sidebar-product {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-product:last-child {
  margin-bottom: 0;
}

.sidebar-product .image {
  width: 80px;
  -webkit-flex-basis: 80px;
      -ms-flex-preferred-size: 80px;
          flex-basis: 80px;
  background-color: #d8d8d8;
  margin-right: 15px;
}

.sidebar-product .image img {
  width: 100%;
}

.sidebar-product .product-content {
  width: calc(100% - 80px);
  -webkit-flex-basis: calc(100% - 80px);
      -ms-flex-preferred-size: calc(100% - 80px);
          flex-basis: calc(100% - 80px);
  font-size: 13px;
}

.sidebar-product .product-content .title-2 {
  color: #1b1b1c;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
}

.sidebar-product .product-content .title-2:hover {
  color: #E72463;
}

.sidebar-product .product-content .price-box {
  font-size: 14px;
  display: block;
}

.sidebar-product .product-content .price-box .old-price {
  margin-left: 10px;
  color: #a8a8a8;
  text-decoration: line-through;
}

.sidebar-product .product-content .product-rating {
  display: block;
}

.sidebar-product .product-content .product-rating i {
  font-size: 12px;
  color: #E72463;
}

.widget-mb-1 {
  margin-bottom: 57px;
}

.widget-mb-2 {
  margin-bottom: 37px;
}

.widget-mb-3 {
  margin-bottom: 46px;
}

.widget-mb-4 {
  margin-bottom: 80px;
}

.widget-mt {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .widget-mt {
    margin-top: 80px;
  }
}

@media (max-width: 479px) {
  .widget-mt {
    margin-top: 60px;
  }
}

/*-- Shop Sidebar Area End --*/
/*-- Shop Toolbar Area Start Here --*/
.shop_toolbar_wrapper {
  padding: 15px 30px;
  border: 1px solid #d8d8d8;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 479px) {
  .shop_toolbar_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479px) {
  .shop_toolbar_wrapper .shop-select {
    width: 100%;
  }
}

.shop_toolbar_wrapper .shop-select .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px;
  position: relative;
  padding: 0 20px;
}

.shop_toolbar_wrapper .shop-select .form-control:focus {
  border: 1px solid #E72463;
  color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop_toolbar_wrapper .shop-select .form-control .list {
  width: 100%;
}

.shop_toolbar_wrapper .shop-select .form-control .list .option {
  padding: 0 5px;
}

@media (max-width: 479px) {
  .shop_toolbar_wrapper .shop_toolbar_btn {
    margin-bottom: 20px;
  }
}

.shop_toolbar_wrapper .shop_toolbar_btn button {
  border: 1px solid transparent;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 6px 5px 4px;
  background-color: transparent;
}

.shop_toolbar_wrapper .shop_toolbar_btn button.active {
  border: 1px solid #000000;
}

.shop_toolbar_wrapper .shop_toolbar_btn button:last-child {
  margin-right: 0px;
}

.toolbar-bottom {
  border: 1px solid #e1e1e1;
  padding: 15px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .toolbar-bottom {
    margin-bottom: 0px;
  }
}

@media (max-width: 479px) {
  .toolbar-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop-fullwidth .toolbar-bottom {
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .shop-fullwidth .toolbar-bottom {
    margin-bottom: 80px;
  }
}








.product-row.row {
  margin-left: -45px;
  margin-right: -45px;
}

.product-row.row .product-slider {
  padding: 15px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.product-row.row .product-slider.anime-element * {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.product-row.row .product-slider.anime-element * .swiper-slide-visible {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.product-row.row .product-slider.anime-element-multi * {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.product-row.row .product-slider.anime-element-multi * .swiper-slide-active > .single-product {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

/*----------------------------------------*/
/*    Feature Scss
/*----------------------------------------*/
.history-area-content {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 70px;
}

.history-area-content > p {
  font-size: 16px;
  line-height: 33px;
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .history-area-content > p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
  }
}

.history-area-content > p > strong {
  color: #000000;
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 35px;
}

@media (max-width: 575px) {
  .history-area-content > p > strong {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

/*----------------------------------------*/
/*    Product Countdown Scss
/*----------------------------------------*/
.product-countdown-area {
  background: url(../images/bg/1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  margin-bottom: 270px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1199px) {
  .product-countdown-area {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 479px) {
  .product-countdown-area {
    padding-top: 80px;
  }
}

.product-countdown-area .countdown-wrapper {
  margin-bottom: 80px;
}

@media (max-width: 479px) {
  .product-countdown-area .countdown-wrapper {
    margin-bottom: 40px;
  }
}

.product-countdown-area .item-carousel-2 {
  margin-bottom: -270px;
  width: 100%;
}

.product-countdown-area.product-countdown-style {
  padding: 80px 0;
  margin: 0px;
}

@media (max-width: 575px) {
  .product-countdown-area.product-countdown-style {
    padding: 40px 0;
  }
}

.product-countdown-area.product-countdown-style .item-carousel-2 {
  margin-bottom: 0px;
  width: 100%;
}

.product-countdown-area.product-countdown-style .countdown-wrapper {
  margin-bottom: 50px;
}

@media (max-width: 479px) {
  .product-countdown-area.product-countdown-style .countdown-wrapper {
    margin-bottom: 30px;
  }
}

/*----------------------------------------*/
/*    Banner Scss
/*----------------------------------------*/
.banner-img {
  overflow: hidden;
  position: relative;
}

.banner-img a {
  display: block;
}

.banner-img a:before {
  background-color: rgba(0, 0, 0, 0.1);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.banner-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
}

.banner-img img > a:before {
  opacity: 1;
}

.hover-style a {
  display: block;
}

.hover-style a img {
  width: 100%;
}

.hover-style:hover a img {
  -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
}

/*----------------------------------------*/
/*    Testimonial Scss
/*----------------------------------------*/
.testimonial-img {
  display: inline-block;
  margin-bottom: 45px;
  margin-top: 30px;
  position: relative;
}

.testimonial-img img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(188, 188, 188, 0.7);
          box-shadow: 0px 4px 10px 2px rgba(188, 188, 188, 0.7);
  width: 150px;
  height: 150px;
}

@media (max-width: 767px) {
  .testimonial-img img {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 575px) {
  .testimonial-img img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 575px) {
  .testimonial-img {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.testimonial-content > p {
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto 25px auto;
  max-width: 800px;
  position: relative;
  text-align: center;
}

@media (max-width: 991px) {
  .testimonial-content > p {
    max-width: 640px;
  }
}

@media (max-width: 767px) {
  .testimonial-content > p {
    max-width: 500px;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 575px) {
  .testimonial-content > p {
    max-width: 400px;
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .testimonial-content > p {
    max-width: 280px;
    font-size: 13px;
    line-height: 24px;
  }
}

.testimonial-author > h6 {
  color: #E72463;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.testimonial-author > h6 > span {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.testimonial-author > h6 > span:before {
  content: "-";
  display: inline-block;
  margin: 0 5px 0 2px;
  color: #555555;
}

.testimonial-area-2 .single-testimonial {
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .testimonial-area-2 .single-testimonial {
    margin-bottom: 45px;
  }
}

.testimonial-area-2 .testimonial-img {
  margin-top: 3px;
}

.testimonial-area-2 .testimonial-content {
  padding: 0 20px;
}

/*----------------------------------------*/
/*    Brand Logo Scss
/*----------------------------------------*/
.brand-logo-carousel {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.brand-logo-carousel:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.brand-logo-carousel:hover .single-brand {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.brand-logo-carousel:hover .single-brand img {
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.brand-logo-carousel:hover .single-brand:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.brand-logo-carousel:hover .single-brand:hover img {
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

/*----------------------------------------*/
/*    Newsletter Scss
/*----------------------------------------*/
@media (max-width: 767px) {
  .news-latter-box {
    margin-top: 30px;
  }
}

.mc-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 100%;
  vertical-align: middle;
}


