/* reser browser */
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
    

   
    
    /*giỏ hàng */
    .cart-modal-overlay {
        
       

    transform: translateX(-200%);
    position: fixed;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 999999;
     transition: .5s ease-out;}
    
    .cart-modal {
    height: 100%;
    width: 420px;
    background-color: white;
     float: right;
    overflow-x: hidden;
    

    }
    
    .cart-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0 15px;
   
    }
    .cart-tittle{
        font-size: 25px;
    }
     #close-btn {
    font-size: 15px;
    color: black;
     }
    .cart-image-name {
     width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, .2);}
    .cart-main-name {position: relative;
    width: 70%;
    margin: -6px 0 0 5px;}
    .cart-name { display: flex;
    
    font-size: 16px;
    margin-bottom: 5px;}
    .cart-name-title {
        width: 80%;
    font-size: 15px;}
    .remove-btn {
    border: none;
    font-size: 20px;
    color: #c8c8c8; 
    border: none;
    position: absolute;
    top: 0px;
    right: -10px;
}
  
    .cart-price-quality {display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 15px;
       
    } 
    .sluong{
        display: flex;

    }
    .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    display: none;}
    .total {
    position: absolute;
    bottom: 40px;
    }
    
   
   
    
    .cart-total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px 0 15px;
    
    }
    .cart-total {
        color: black;
        font-size: 15px;
        font-weight: bold;
        }
    .total-price {
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
    .pur-btn{
        background-color:#d6b21b ;
        width: 390px;
        height: 45px;
        margin: 10px 15px 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .purchase-btn {
    font-weight: bolder;
    font-size: 18px;
    color: white;
 

  
    }
    .purchase-btn a {color: white;}
    .product-rows {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
    
 
    /* top main */
    .top-hearder {width: 100%;
    z-index: 99999;
    position: fixed;
    top : 0;
    background-color: #fff;
    }
    
    /* tài khoản. giỏ hàng */

 
    .bag-main {
    position: relative;}
    .bag {
    z-index: 99999;
    }
    .bag-product {
    color: #fff;
    background-color: var(--tan-crayola);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    position: absolute;
    bottom: -2px;
    right: -10px;
    padding-inline: 7px;
    border-radius: 50%;}
    
    /* setup owlcarousel */
    /* .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{display: none;}
    .owl-theme .owl-dots {display: none;} */
    /* Listing Product */
    .listing-product {
    margin-top: 20px;
    
    }
    .btn-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn-listing {
    background-color: #fbb416;
    padding: 8px 20px;
    margin-right: 15px;
    color: #000;
    border: 3px solid;
    
    
    }
    
    .btn-listing.active {
    background-color:#000;
    color:#fbb416;
    }
    
    .tab-content {
    margin-top: 20px;
    display: none;
  
    }
    
    .tab-content.active {
    display: block;
    }
    
  

    /* title product */
    .title-product-1 {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: -40px;
    }
    .title-product-1 h1{
        font-weight: bold;
        font-family: var(--ff-mr_de_haviland) ; 
    }
    .title-product {width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
/* background-color: #d6d6d6;*/}

    
     .product-sp {
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
    
    margin-bottom: 30px;
     } 
     .bottom-footer {width: 100%;
    height: 300px;
    background-color:#F8F0E5;
    font-size: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
     .bottom-footer  { width: 100%;
    height: 250px;
    margin-bottom: 30px;
    padding-top: 10px;}
    .content{
        box-shadow: -8px 8px 24px 0px rgba(0, 0, 0, 0.2);
    }
    .content img {
    padding: 14px 14px 10px 14px;
     object-fit: cover;
    width: 100%;
    max-height: 85%;
    transition: transform 0.3s ease-out;
   
    }
    .content img:hover {
    transform: scale(1.1); /* Chỉnh tỷ lệ phóng to tùy ý (ở đây là 1.2)
     */
        }
 
    .name-price {
        margin: 10px 0 10px 10px;
    }
    .name{
        font-size:20px;
        line-height: 30px;
        font-weight: bold;
    }
    .content2 .price {
        color: red;
    font-weight: bold;
    }
    .cart 
    {
    width: 100%;
    color: white;
    background-color: #fbb416;
    font-size: 16px;
    padding: 5px 5px;
    gap: 5px;
    }
     /*style lại giỏ hàng*/
     .product-rows {
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;}
    
    .cart-image {
    width: 55px;
    margin: 10px;
    }
    
    .cart-price {
    color: black;
    font-size: 18px;
    font-weight: bold;
    
    }
    
    .product-quantity {
    width: 40px;
    font-size: 20px;
 margin: 0 -30px 0 0;
    }

    
    h3{
        font-size: 30px;
    }
 .product-list{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:40px 0 40px 0;
background-color: #d6d6d6;
 }
 .card-sale{
    width: 100%;
    height: 40px;
    background-color:#fff9f8 ;
 }
 .sale-title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-left: 10px;
    gap: 10px;
 }
 .icon-sale{
    color:#ffcbc3 ;
    font-size: 19px;
 }
.sale-text{
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: #333F48;
}
